<section class="relative md:pb-8 bg-grey-100 faq section-rounded -mt[3rem]">
    <div class="">
      <div class="">
        <div class="mb-6 bg-white rounded-lg">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 px-4 font-bold w-full text-left flex justify-between items-center">
            <span>One-off donation</span>
            <i class="fas fa-angle-down text-homestart-orange text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">The Apprenticeship Levy was announced in the 2015 November Spending Review. It is essentially an additional payroll tax, set at 0.5% of an employer’s annual pay bill, collected through PAYE. The levy affects all employers with a presence in the UK, from businesses to charities to schools, regardless of sector, with an annual pay bill of more than £3 million. Groups of companies under a common ownership structure will be treated as one business.</p>
          </div>
        </div>
  
        <div class="mb-6 bg-white rounded-lg"><button class="faq-btn block text-md leading-2xl text-grey-300 py-7 px-4 font-bold w-full text-left flex justify-between items-center">
            <span>Direct Debit donations</span>
            <i class="fas fa-angle-down text-homestart-orange text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100"></p>
          </div>
        </div>
        <div class="mb-6 bg-white rounded-lg">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 px-4  font-bold w-full text-left flex justify-between items-center">
            <span>AmazonSmile: donate while you shop online</span>
            <i class="fas fa-angle-down text-homestart-orange text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Craven Home-Start is registered with AmazonSmile</p>
            <p>By selecting Craven Home-Start as your designated charity, every time you shop, Amazon will donate 0.5% of the value of your order to us. it's quick and easy to set up, and if you bookmark the link to AmazonSmile instead of Amazon on your devices, you only have to do it once.</p>
          </div>
        </div>
        <div class="mb-6 bg-white rounded-lg">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 px-4 font-bold w-full text-left flex justify-between items-center">
            <span>Easy Fundraising: donate while you shop online</span>
            <i class="fas fa-angle-down text-homestart-orange text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">This is a free and simple way for UK schools, charities, sports clubs, community groups and other good causes to raise money from everyday online shopping</p>

            <p>Everytime you buy something online with a participating retailer, to say ‘thank you’ they’ll give a donation to Home-Start Bromley or any cause you choose</p>
                
            <p>Retailers in the scheme include Argos, John Lewis, Debenhams, M+S … the list is almost endless !</p>
                
            <p>Click here to get to our page on the <a href="https://www.easyfundraising.org.uk/causes/homestartcraven/" target="_blank">EasyFundraising website</a>.</p>
          </div>
        </div>
        <div class="mb-6 bg-white rounded-lg">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 px-4 font-bold w-full text-left flex justify-between items-center">
            <span>Set up a fundraising event</span>
            <i class="fas fa-angle-down text-homestart-orange text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100">Many people have participated in events to help raise vital funds for our work.</p>

            <p>If you have an idea for an event, please <a href="#contact">contact us</a></p>
          </div>
        </div>
        <div class="mb-6 bg-white rounded-lg">
            <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 px-4 font-bold w-full text-left flex justify-between items-center">
              <span>Leave a legacy</span>
              <i class="fas fa-angle-down text-homestart-orange text-xl"></i>
            </button>
            <div class="faq-content">
              <p class="pt-8 mb-6 border-t-2 border-grey-100">Many people seek to make a lasting charity gift through their Will. A legacy to Home-Start Bromley can be left through a will in order to help us continue to support local families across our communities.</p>

             <p>We recommend you find advice on writing or amending your Will from somewhere like Citizens Advice.</p>
                
             <p>If you are writing your Will, the details you will need are:<br>
                Craven Home-Start,<br>
                The Home-Start Office,<br>
                Cowling Village Hall,<br>
                Acre Road<br>
                COWLING<br>
                North Yorkshire<br>
                BD22 0FN
            </p>
                
             <p>Our charity number is ?</p>
                
             <p>Thank you so much if you are able to remember us in this way. For more information, or to talk more, please <a href="#contact">get in touch.</a></p>
            </div>
          </div>
      </div>
    </div>
  </section>