<div id="social_links" class="flex justify-center xl:justify-start flex-1">
    <div class="h-8 w-8"><a class="facebook" href="{{ site.social_links.facebook }}" target="_blank"></a></div>
    <div class="h-8 w-8"><a class="instagram" href="{{ site.social_links.instagram }}" target="_blank"></a></div>
</div>

