---
layout: base
meta_title: Craven Home Start - Giving children the best start in life
meta_description: Skeleventy gives you a rock solid foundation to build fast and accessible static websites.
title: Craven Home Start
eleventyNavigation:
  key: Home
  order: 1
---

<header>

  
  <div class="slider-container">
    <div id="home-hero-slider" class="slick-slider">
      <div class="slide h-screen relative">
        <div class="absolute homestart-hero-text-box text-white">
          <p>The earliest years make a big difference. Home-Start helps to make those years count, so no child's future is limited.</p>
        </div>
      </div>
      <div class="slide h-screen">
        <div class="absolute homestart-hero-text-box text-white">
          <p>Home-Start is a local community network of trained volunteers and expert support. We help families with children under five with practical and confidential support.</p>
        </div>
      </div>
      <div class="slide h-screen">
        <div class="absolute homestart-hero-text-box text-white">
          <p>The earliest years make a big difference. Home-Start helps to make those years count, so no child's future is limited.</p>
        </div>
      </div>
      <div class="slide h-screen">
        <div class="absolute homestart-hero-text-box text-white">
          <p>The earliest years make a big difference. Home-Start helps to make those years count, so no child's future is limited.</p>
        </div>
      </div>
    </div>
    <div class="prevArrow"></div>
    <div class="nextArrow"></div>
  </div>

</header>

<main>
  <section id="about"></section>
  <section id="volunteer"></section>
  <section id="fundraise"></section>
  <section id="contact"></section> 
</main>

<footer></footer>

