---
layout: base
meta_title: HomeStart Craven - Giving children the best start in life
meta_description: Skeleventy gives you a rock solid foundation to build fast and accessible static websites.
title: HomeStart Craven
eleventyNavigation:
  key: Home
  order: 1
---

<header>

  
  <div class="slider-container">
    <div id="home-hero-slider" class="slick-slider">
      <div class="slide h-screen relative">
        <div class="absolute homestart-hero-text-box text-white">
          <p>The earliest years make a big difference. Home-Start helps to make those years count, so no child's future is limited.</p>
        </div>
      </div>
      <div class="slide h-screen">
        <div class="absolute homestart-hero-text-box text-white">
          <p>Home-Start is a local community network of trained volunteers and expert support. We help families with children under five with practical and confidential support.</p>
        </div>
      </div>
      <!-- <div class="slide h-screen">
        <div class="absolute homestart-hero-text-box text-white">
          <p>The earliest years make a big difference. Home-Start helps to make those years count, so no child's future is limited.</p>
        </div>
      </div>
      <div class="slide h-screen">
        <div class="absolute homestart-hero-text-box text-white">
          <p>The earliest years make a big difference. Home-Start helps to make those years count, so no child's future is limited.</p>
        </div>
      </div> -->
    </div>
    <div class="prevArrow"></div>
    <div class="nextArrow"></div>
  </div>

</header>

<main>
  <section id="about" class="py-8 lg:py-32">
    <div class="flex px-6 xl:px-48 lg:px-24 mx-auto pb-8">
      <div class="flex flex-col lg:flex-row lg:justify-between  gap-10 max-w-7xl mx-auto">
        <div class="flex flex-col items-start gap-8 decorated-list lg:w-5/12">
          <h2 class="mb-0 leading-120 text-homestart-orange text-3xl md:text-4xl font-bold">Welcome to HomeStart Craven</h2>
          <p class="text-md">HomeStart Craven is a registered charity, part of the Home-Start UK network of federated of charities. Home-Start has a long history of providing support for parents and their children through a team of trained volunteers who provide practical and non-judgmental support for families.</p>
          <p class="text-md">HomeStart Craven offers support, friendship and practical help to families with children in the Craven area. Home-Start believes that parents play the key role in giving their children a good start in life, however we recognise that parenting is a challenging and demanding role. We are here to support parents in this key role, and provide the support and friendship they need.</p> 
        </div>
        <div class="bg-grey-2000 h-full w-full lg:w-6/12">
          <img src="../images/home/aa-homestart-wandsworth-4395.jpg" alt="helping young families with a wide variety of needs - HomeStart Craven" class="w-full h-full object-cover">
        </div>
      </div>
    </div>
    
   
    <div class="flex pt-4 pb-8 px-6 xl:px-48 lg:px-24 mx-auto ">
      <div class="flex flex-col lg:flex-row lg:justify-between  items-start gap-10 max-w-7xl mx-auto">
        <div class="flex flex-col items-start gap-8 decorated-list lg:order-2 lg:w-5/12">
          <h2 class="mb-0 leading-120 text-homestart-orange text-3xl md:text-4xl font-bold">What we do</h2>
          <p class="text-wrap leading-200 text-md">HomeStart Craven aims to support parents in their parenting role, and in doing so promote the best outcomes for their children and the family as a whole.</p>
          <p class="text-wrap leading-200 text-md">Home-start’s approach is to support early intervention, as the early years are seen as the most important years, and every child deserves a good start in order to maximise their future potential.</p>
          <p class="text-wrap leading-200 text-md">HomeStart Craven offer both 1:1 volunteer support in the home, tailored to the needs of each individual family, and a range of groups for parents and children under five years old to attend.</p>
        </div>
        <div class="bg-grey-2000 h-full w-full lg:w-6/12">
          <img src="../images/home/homestart-scot-074.jpg" alt="helping families in the Craven area" class="w-full h-full object-cover">
        </div>
      </div>
    </div>
  </section>

  <section id="volunteer" class="py-8 lg:py-32">
    <div class="bg-homestart-orange">
      <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">By volunteering just a few hours each week you can transform the lives of young children and their parents in your community.</h2>
          <!-- <p class="mx-auto mt-6 text-xl leading-8 text-white">No special qualifications are necessary to become a Home-Start volunteer, but volunteers are usually parents or grandparents with an interest in, and experience of, young children and family life. We welcome volunteers from all sections of the community.</p>

            <p class="mx-auto mt-6 text-xl leading-8 text-white">Talking and listening can empower families to overcome their difficult situations. Volunteers are offered on-going training and support activities including specialist speakers and visits to family support services, as well as informal social gatherings.</p> -->
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#contact" class="bg-white text-sm font-semibold leading-6 text-homestart-purple rounded py-2 px-4">Contact Us for volunteering opportunities <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex py-8 lg:py-32 px-6 xl:px-48 lg:px-24 mx-auto pb-8">
      <div class="flex flex-col lg:flex-row lg:justify-between  gap-10 max-w-7xl mx-auto">
        <div class="flex flex-col items-start gap-8 decorated-list lg:w-5/12">
          <h2 class="mb-0 leading-120 text-homestart-orange text-3xl md:text-4xl font-bold">You can help us change a child's life</h2>
          <p class="text-md">We believe that the best possible start in life for a child begins at home with their family. A nurturing, loving, stable family and home environment strongly determines a child’s future life chances. Children whose parents are struggling to cope can miss out on the love, routine and support that are vital for their future.</p>
          <p class="text-md">HomeStart Craven offers support, friendship and practical help to families with children in the Craven area. Home-Start believes that parents play the key role in giving their children a good start in life, however we recognise that parenting is a challenging and demanding role. We are here to support parents in this key role, and provide the support and friendship they need.</p> 
        </div>
        <div class="bg-grey-2000 h-full w-full lg:w-6/12">
          <img src="../images/home/homestartuk-glasgownorth-1605.jpg" alt="helping young families with a wide variety of needs - HomeStart Craven" class="w-full h-full object-cover">
        </div>
      </div>
    </div>
  </section>

  <section id="fundraise" class="py-8 lg:pt-16">
    <div class="bg-homestart-purple">
      <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">You can help us change a child's life</h2>
          <p class="mx-auto mt-6 max-w-xl text-xl leading-8 text-indigo-200">Each year we have to turn away parents and children because we don’t have the funds to help them all. HomeStart Craven depends heavily on donations from people like you to fund our work with parents and children. Everyone needs help at some time in their life… please help us to make a difference to a child’s life today. </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#contact" class="bg-white text-sm font-semibold leading-6 text-homestart-purple rounded py-2 px-4">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="flex py-8 lg:py-32 px-6 xl:px-48 lg:px-24 mx-auto pb-8">
      <div class="flex flex-col lg:flex-row lg:justify-between  gap-10 max-w-7xl mx-auto">
        <div class="flex flex-col items-start gap-8 decorated-list lg:w-5/12">
          <h2 class="mb-0 leading-120 text-homestart-orange text-3xl md:text-4xl font-bold">Can you help us?</h2>
          <p class="text-md">There are multiple ways you can help fundraise for Home-Start:</p>
          {% include '../site/includes/components/home-start-fundraising-accordion.njk' %}
        </div>
        <div class="bg-grey-2000 h-full w-full lg:w-6/12">
          <div class="flex items-start justify-center h-full">
            <div class="sticky top-[50px] h-96">
              <a class="h-full relative block bg-homestart-purple group w-full" href="https://www.home-start.org.uk/Pages/Category/fundraising-guide" target="_blank">
                  <div class="absolute bg-homestart-purple inset-0 w-full group-hover:opacity-20" style="background-image: url('../images/about/ah---home-start---leicester---25.11.21-035.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                  </div>
                  <div class="relative p-10 h-full bg-homestart-purple/50 flex flex-col gap-4 items-center justify-center">
                    <h3 class="text-center text-white font-bold">Fundraising Ideas</h3>
                      <div class="mt-2">
                          <div class="transition-all transform translate-y-8 opacity-0 group-hover:opacity-100 group-hover:translate-y-0">
                              <div class="p-2">
                                  <p class="text-xl text-white">
                                    Home-Start UK's online fundraising guide gives great examples to start your fundraiser. Come back to our page when you've got your idea to set up your page.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </section>

  <section id="contact" class="">
    <div class="relative isolate bg-white">
      <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
        <div class="relative px-6 pb-8 pt-8 lg:static lg:px-8 lg:py-32">
          <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
            <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden lg:w-1/2">
        
            </div>
            <h2 class="text-3xl md:text-4xl font-bold tracking-tight text-homestart-orange">Contact Us</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Whether you need help from HomeStart Craven, would like to volunteer with us, would like to fundraise, or anything else, please get in touch with us using this little form!</p>
            <dl class="mt-10 space-y-4 text-base leading-7 text-gray-600">
              <div class="flex gap-x-4">
                <dt class="flex-none">
                  <span class="sr-only">Address</span>
                  <i class="fa-solid fa-location-pin h-7 w-6 text-homestart-orange"></i>
                </dt>
                <dd>HomeStart Craven<br> 
                  The Home-Start Office<br>
                  Cowling Village Hall<br>
                  Acre Road<br>
                  COWLING<br>
                  North Yorkshire<br>
                  BD22 0FN</dd>
              </div>
              <div class="flex gap-x-4">
                <dt class="flex-none">
                  <span class="sr-only">Telephone</span>
                  <i class="fa-solid fa-phone h-7 w-6 text-homestart-orange"></i>
                </dt>
                <dd class="flex flex-col gap-2"><a class="hover:text-gray-900" href="tel:07585 232 014">07585 232 014</a><a class="hover:text-gray-900" href="tel:07964 216 002 ">07964 216 002 </a></dd>
              </div>
              <div class="flex gap-x-4">
                <dt class="flex-none">
                  <span class="sr-only">Email</span>
                  <i class="fa-solid fa-envelope h-7 w-6 text-homestart-orange"></i>
                </dt>
                <dd><a class="hover:text-gray-900" href="mailto:homestartcravenmanager@gmail.com">homestartcravenmanager@gmail.com</a></dd>
              </div>
            </dl>
          </div>
        </div>
        <form id="contactForm" action="/.netlify/functions/contact" method="POST" class="px-6 pb-8 pt-8 lg:static lg:px-8 lg:py-32">
          <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
              <div class="sm:col-span-2">
                <label for="reason" class="block text-sm font-semibold leading-6 text-gray-900">Why would you like to speak to us?</label>
                <div class="mt-2.5">
                  <select required name="reason" id="reason" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option value="I'd like to get help">I'd like to get help</option>
                    <option value="I'd like to volunteer">I'd like to volunteer</option>
                    <option value="I'd like to discuss a fundraiser">I'd like to discuss a fundraiser</option>
                    <option value="I'm from the media">Media Enquiry</option>
                    <option value="other">Something else</option>
                  </select>
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="first-name" class="block text-sm font-semibold leading-6 text-gray-900">Name</label>
                <div class="mt-2.5">
                  <input required type="text" name="name" id="first-name" autocomplete="name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
                <div class="mt-2.5">
                  <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="phone" class="block text-sm font-semibold leading-6 text-gray-900">Phone number</label>
                <div class="mt-2.5">
                  <input type="tel" name="phone" id="phone" autocomplete="tel" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Message</label>
                <div class="mt-2.5">
                  <textarea required name="message" id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                </div>
              </div>
            </div>
            <div id="form-error" class="my-4 rounded bg-red-200 text-black hidden"></div>

            <div class="mt-8 flex justify-end">
              <button id="submit" type="submit" class="rounded-md bg-homestart-purple px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-gray-200 disabled:text-gray-300" disabled>Send message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
 
</main>


<script>
  const form = document.forms.contactForm;
  const elements = Array.from(form.elements);
  let message;
  const formError = document.getElementById('form-error');

  elements.forEach(element => {
    element.addEventListener('blur', function(){
      if((element.name === 'phone') || (element.name === 'email')) {
        const phoneNo = form.elements.phone.value;
        const email = form.elements.email.value;
        const name = form.elements.name.value;
        const reason = form.elements.reason.value;

        if(!phoneNo && !email){
          message = 'Either phone number or email is required';
          formError.textContent = message;
          formError.classList.replace('hidden', 'block');
        } else {
          formError.classList.replace('block', 'hidden');
        }

        if((phoneNo || email) && reason && name){
            form.elements.submit.disabled = false;
        } else {
            form.elements.submit.disabled = true;
        }
        
      } 
    })
  })
</script>