---
layout: base
meta_title: Craven Home Start - Giving children the best start in life
meta_description: Skeleventy gives you a rock solid foundation to build fast and accessible static websites.
title: Craven Home Start
eleventyNavigation:
  key: Home
  order: 1
---

<main>
  <div class="slider-container">
    <div id="home-hero-slider" class="slick-slider">
      <div class="slide h-screen">1</div>
      <div class="slide h-screen">2</div>
      <div class="slide h-screen">3</div>
      <div class="slide h-screen">3</div>
    </div>
    <div class="prevArrow"> &lt; </div>
    <div class="nextArrow"> &gt; </div>
  </div>
</main>



